.logo-text {
    font-family: 'Major Mono Display', monospace;
    color: #90ff6e !important;
}

.uk-comming-soon-background {
    background: #111111;
}

.subtitle-text {
    font-family: 'Montserrat', monospace;
}
